
%div
  %p= link_to "Atom feed", feed_url

  - @item.children.sort_by(&:identifier).reverse_each do |year|
    %h4
      = link_to File.basename(year.identifier), year.identifier

    - year.children.sort_by(&:identifier).reverse_each do |article|
      %p
        = link_to "#{article[:title]} - #{pretty_date article[:created_at]}", article.identifier

  %p{ style: "margin-top:5em" }= link_to "Atom feed", feed_url