

- if @summary
  %summary
    %h3
      %a{href: @item.path}  #{@item[:title]} - #{pretty_date @item[:created_at]}

    = @item.summary

    .comments
      %a{ href: "#{@item.identifier}#disqus_thread", "data-disqus-identifier" => "#{File.basename(@item.identifier)}"} Comments
    .more
      = link_to "Read more...", @item.path

    .tags Tags: #{@site.tags_for(@item, base_url: '/blog/tags/')}


- else
  %article
    %p.posted= "Posted on #{pretty_date @item[:created_at]}"
    = yield

    .tags Tags: #{@site.tags_for(@item, base_url: '/blog/tags/')}

    = render "comments", item: @item

