-# Single blog post

- if @summary
  %summary
    %span.release_date Posted #{pretty_date @item.created_at}
    %h2= link_to @item.title, @item.path

    = @item.summary

    .comments
      %a{ href: "#{@item.path}#disqus_thread", "data-disqus-identifier" => "#{@item.name}"} Comments
    .more
      = link_to "Read more...", @item.path

- else
  %article
    %h1= link_to @item.title, @item.permalink

    %p.posted= "Posted on #{pretty_date @item.created_at}"

    = yield


.tags Tags: #{@site.tags_for(@item, base_url: '/blog/tags/')}

- unless @summary
  = render "comments", item: @item, comment_id: @item.name
