%div

  - if @summary
    %h3
      %a{href: @item.path}  #{@item[:title]} - #{pretty_date @item[:created_at]}

    = @item.summary
    %a{ href: @item.path } Read more...

    %p.tags #{@site.tags_for(@item, base_url: '/blog/tags/')}

  - else
    %p= "Posted: #{pretty_date @item[:created_at]}"
    %p= @item.compiled_content

    %p.tags #{@site.tags_for(@item, base_url: '/blog/tags/')}

    = render "comments", item: @item

