!!! XML
!!!

%html{ xmlns: "http://www.w3.org/1999/xhtml", "xml:lang" => "en", lang: "en" }
  %head
    %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=utf-8" }
    %meta{ charset: "utf-8" }
    %meta{ name: "generator", content: "nanoc 3.2.3" }
    %link{ rel: "stylesheet", type: "text/css", href: "/style.css", media: "screen" }

    %title= "Spooner - #{@item[:title]}"


  %body
    %div.description
      %a{ href: '/' }
        %img{ src: "/images/spooner_pixels_large.png", width: "128", height: "128", alt: "Actual photo of Spooner", style: "float:left;margin-right:32px;border:2px solid black;margin-bottom:64px" }
      %a{ href: '/' }
        %img{ src: "/images/bagpuss_large.png", width: "128", height: "128", alt: "Bagpuss", style: "float:right;margin-left:32px;border:2px solid black" }

      %h1
        %a{ href: "/" } Spooner

    %div{ style: "clear:both" }

    %div{ class: "col_mask right_menu" }
      %div.col_left
        %div.contents_wrap
          %div.contents
            - unless @item.identifier == '/'
              %div.breadcrumb
                = breadcrumbs_trail.map {|crumb| link_to(crumb[:title], crumb.rep_named(:default)) }.join(" > ")

            = yield

        %div.sidebar
          - @base_item = @item
          - @base_item = @base_item.parent while @base_item.parent
          - @base_item.children.select {|i| i[:title] }.each do |item|
            %ul
              %li
                = link_to(item[:title], item.identifier)
                %ul
                  - item.children.each do |item|
                    %li= link_to(item[:title], item.identifier)


    %div.footer
      %p Spooner was brought to you by the letter oo