!!! XML
!!!

%html{ xmlns: "http://www.w3.org/1999/xhtml", "xml:lang" => "en", lang: "en" }
  %head
    %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ charset: "UTF-8" }
    %meta{ name: "generator", content: "nanoc 3.2.3" }

    - %w[stylesheet code_highlighting].each do |stylesheet|
      %link{ rel: "stylesheet", type: "text/css", href: "/style/#{stylesheet}.css", media: "screen" }

    %title
      Spooner
      - unless @item.home?
        = "- #{@item.title}"

    %link{ href: '/blog/feed.xml', rel: 'alternate', title: "Spooner's Blog", type: 'application/atom+xml' }

  %body
    %header
      %div.banner
        %a{ href: @config[:base_url], title: "Spooner: Ruby addict and maker of games with outrageously large pixels" }
          %img.banner_left{ src: "/images/spooner_pixels_large.png", alt: "Actual photo of Spooner" }
          %img.banner_right{ src: "/images/bagpuss_large.png", alt: "Bagpuss" }
          %img.title{ src: "/images/title.png", alt: "Spooner" }
          %br/
          %img.subtitle{ src: "/images/subtitle.png", alt: "Ruby addict and maker of games with outrageously large pixels" }

      %div.breadcrumbs
        - if %w[/ /errors/404/].include? @item.identifier
          &nbsp;
        - else
          = breadcrumbs_trail.map {|crumb| link_to(crumb.title, crumb.rep_named(:default)) }.join(" &raquo; ")

      = render 'navbar', item: @item


    %div{ class: "col_mask right_menu" }
      %div.col_left
        %div.contents_wrap
          %div.contents= yield

        %div.sidebar
          = render 'menu', item: @item

    %footer
      = render 'navbar', item: @item

      %div.footer
        %p
          Today, Spooner was brought to you by the letter 'oo'<br />
          = "Bil Bas --- bil dot bagpuss {at} gmail dot com"

    -# Script to replace special links with number of comments.
    - if @item[:count_comments]
      :javascript
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'spooner'; // required: replace example with your forum shortname
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());