!!! XML
!!!

%html{ xmlns: "http://www.w3.org/1999/xhtml", "xml:lang" => "en", lang: "en" }
  %head
    %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=UTF-8" }
    %meta{ charset: "UTF-8" }
    %meta{ name: "generator", content: "nanoc 3.2.3" }
    - %w[stylesheet code_highlighting].each do |stylesheet|
      %link{ rel: "stylesheet", type: "text/css", href: "/style/#{stylesheet}.css", media: "screen" }

    %link{ href: '/blog/feed.xml', rel: 'alternate', title: "Spooner's Blog", type: 'application/atom+xml' }
    %title= "Spooner - #{@item[:title]}"


  %body
    %div.banner
      %a{ href: '/' }
        %img.banner_left{ src: "/images/spooner_pixels_large.png", width: "128", height: "128", alt: "Actual photo of Spooner" }
      %a{ href: '/' }
        %img.banner_right{ src: "/images/bagpuss_large.png", width: "128", height: "128", alt: "Bagpuss" }

      %h1= link_to "Spooner", "/"

      %p Ruby addict and maker of games with outrageously large pixels

    %div.breadcrumbs
      - if @item.identifier == '/'
        &nbsp;
      - else
        = breadcrumbs_trail.map {|crumb| link_to(crumb[:title], crumb.rep_named(:default)) }.join(" &raquo; ")

    %div{ class: "col_mask right_menu" }
      %div.col_left
        %div.contents_wrap
          %div.contents

            - unless @item.identifier == '/'
              %h2= link_to @item[:title], @item.identifier

            = yield

        %div.sidebar
          %ul
            %li{ style: "margin-bottom:1em;" }
              - if @item.identifier == '/'
                %span Home
              - else
                = link_to "Home", '/'

            - @base_item = @item
            - @base_item = @base_item.parent while @base_item.parent
            - @base_item.children.select {|i| i[:title] }.each do |item|

              %li
                = link_to_unless_current item[:title], item.identifier

                %ul
                  - if item.identifier == '/blog/'
                    - items = item.children.select {|i| i[:kind] == 'year' }.reverse
                    - items << item.children.find {|i| i.identifier =~ /tags/ }
                    - items.each do |item|
                      %li
                        = link_to_unless_current "#{item[:title]} (#{item.children.size})", item.identifier
                  - else
                    - item.children.each do |item|
                      %li
                        = link_to_unless_current item[:title], item.identifier

            %li= link_to "deviantART", "http://lemonsails.deviantart.com"
            %li= link_to "YouTube", "http://www.youtube.com/user/spoonerspon"

    %div.footer
      %p
        Today, Spooner was brought to you by the letter 'oo'<br />
        bil dot bagpuss {at} gmail dot com