- @item.name =~ /^(.+)-v(\d(?:_\d)+)$/
- name, version = $1.tr("-", "_"), $2
- type = project_type name

- raise [name, version, type].inspect unless name and version and type

- file_base = "#{type}/#{name}/#{name}_v#{version}"
- download_base = "http://dl.dropbox.com/u/33370854/#{file_base}"
- local_base = "C:/Users/Spooner/Dropbox/Public/#{file_base}"

- unless @summary
  %div{ style: "float:right" }
    %img.app_icon{alt: "#{@item.title} icon", src: "#{config[:base_url]}/images/icon/#{name}.png"}

- win_exe = link_to "EXE", "#{download_base}_WIN32.zip", title: "Windows executable in folder with source: #{file_size "#{local_base}_WIN32.zip"}"
- win_installer = link_to "INSTALLER", "#{download_base}_WIN32_INSTALLER.zip", title: "Windows installer with source: #{file_size "#{local_base}_WIN32_INSTALLER.zip"}"
- os_x = link_to "APPLICATION", "#{download_base}_OSX.zip", title: "OS X application bundle (.app) with source: #{file_size "#{local_base}_OSX.zip"}"
- source = link_to "Ruby SOURCE", "#{download_base}_SOURCE.zip", title: "Ruby source code only: #{file_size "#{local_base}_SOURCE.zip"}"
%ul
  %li Windows: #{win_exe} | #{win_installer}
  %li OS X: #{os_x}
  %li Linux: #{source}
