-# Vertical menu / Sitemap

%nav.menu
  %ul
    - nav_items.each do |item|

      %li
        = link_to_unless_current item.title, item.path

        %ul
          - if item.identifier == '/blog/'
            - item.children.select {|i| i.path =~ %r[^/blog/\d{4}/$] }.reverse_each do |year|
              %li= link_to_unless_current "#{year.title} (#{articles.count {|i| i.year.to_s == year.name }})", year.path

            - tags = item.children.find {|i| i.name == 'tags' }
            = link_to_unless_current "#{tags.title} (#{tags.children.size})", tags.path

          - elsif item != home and item.identifier != '/releases/'
            - item.children.each do |project|
              %li
                - if project == @item
                  %span{ title: "You're here." }
                    %img.app_icon_small{alt: "#{project.title}", src: "/images/small_icon/#{project.name}.png"}
                    = project.title

                - else
                  %a{href: project.path}
                    %img.app_icon_small{alt: "#{project.title}", src: "/images/small_icon/#{project.name}.png"}
                    = project.title

    %hr/

    %li= link_to "Developer profile", "http://github.com/Spooner", title: "Spooner's Github profile"
    %li= link_to "Art", "http://lemonsails.deviantart.com", title: "Spooner's DeviantART portfolio"
    %li= link_to "Videos", "http://www.youtube.com/user/spoonerspon", title: "Spooner's videos"