%div.app
  %h3
    = link_to @item[:title], @item.path

  %a{href: @item.path}
    %img.app_icon{width: 128, height: 128, alt: "#{@item[:title]} icon", src: "/images/#{File.basename(@item.identifier)}.png"}

  %p.status= @item[:status]

  - if @summary
    = @item.summary
    %p= link_to "More...", @item.path
  - else
    %p= @item.compiled_content


