-# A project (e.g. a game)

- if @summary
  %summary
    %h2= link_to @item.title, @item.path

    %a{href: @item.path}
      %img.app_icon{alt: "#{@item.title} icon", src: "/images/icon/#{@item.name}.png"}

    %p.status= @item[:status]

    = @item.summary

    .more= link_to "More...", @item.path

- else
  %article.app
    %h1= link_to @item.title, @item.permalink

    %img.app_icon{alt: "#{@item.title} icon", src: "/images/icon/#{@item.name}.png"}

    %p.status= @item[:status]

    = yield


