- comment_id = "#{@item.parent.parent.name}_#{@item.name}"

%article
  - if @summary
    %header
      %span.release_date Released #{pretty_date @item.created_at}
      %h2= link_to @item.title, @item

    = @item.summary

    %footer
      .comments= link_to "Comments", "#{@item.path}#disqus_thread", "data-disqus-identifier" => comment_id
      .more= link_to "Release notes...", @item.path
      .tags Tags: #{tags_for(@item, base_url: '/tags/')}

  - elsif block_given?
    %header
      %h1= link_to @item.title, @item.permalink
      %p.posted Released #{pretty_date @item.created_at}

    = yield

    %footer
      .tags Tags: #{tags_for(@item, base_url: '/tags/')}
      = render "comments", comment_id: comment_id

  - else
    %header
      %span.release_date Released #{pretty_date @item.created_at}
      %h2= link_to @item.title, @item.permalink

    = @item.compiled_content

    %footer
      .comments= link_to "Comments", "#{@item.path}#disqus_thread", "data-disqus-identifier" => comment_id
      .tags Tags: #{tags_for(@item, base_url: '/tags/')}

