- path = "/images/screenshots/#{@image}"

- image = ChunkyPNG::Image.from_file("output#{path}-thumbnail.png")

- @title ||= @alt
= link_to "#{path}.png", rel: "lightbox-gallery" do
  %img{ class: "thumb", src: "#{path}-thumbnail.png", alt: @alt, title: @title, width: image.width, height: image.height }
